<% 
function isEmpty(param) {
    return param?.length === 0;
}

String.prototype.toCapitalCase = function() {
  return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase();
};

const menuItems = [
    {
        title: "Dashboard ",
        icon: "tf-icons bx bx-home-circle",
        url: `/${currentUser.role}/dashboard`,
        allowedRoles: ["admin", "user"],
    },
     {
        title: "Visa Applications",
        icon: "tf-icons bx bx-file",
        url: "#",
        subItems: [
            {
                title: "View Applications",
                url: `/${currentUser.role}/view-applications`,
                allowedRoles: ["admin", "user"],
            },
            {
                title: "Create Application",
                url: `/${currentUser.role}/add-application`,
                allowedRoles: ["admin", "user"],
            },
        ],
        allowedRoles: ["admin", "user"],
    },
    {
        title: "Users",
        icon: "tf-icons bx bx-user",
        url: "#",
        subItems: [
            {
                title: "Add Users",
                url: `/${currentUser.role}/add-user`,
                allowedRoles: ["admin"],
            },
            {
                title: "View Users",
                url: `/${currentUser.role}/view-users`,
                allowedRoles: ["admin"],
            },
        ],
        allowedRoles: ["admin"],
    },
    {
        title: "Settings Options",
        icon: "tf-icons bx bx-cog",
        url: "#",
        subItems: [
            {
                title: "Change Password",
                url: `/${currentUser.role}/change-password`,
                allowedRoles: ["admin", "user"],
            },
            // Add more admin options here with allowed roles
        ],
        allowedRoles: ["admin", "user"],
    },
    {
        title: "Payments",
        icon: "tf-icons bx bx-dollar-circle",
        url: `/${currentUser.role}/payments`,
        allowedRoles: ["admin", "user"],
    },
    {
        title: "Profile",
        icon: "tf-icons bx bx-user",
        url: `/${currentUser.role}/profile`,
        allowedRoles: ["admin", "user"],
    },
    {
        title: "Logout",
        icon: "tf-icons bx bx-log-out-circle",
        url: "/auth/logout",
        allowedRoles: ["admin", "user"],
    },
];

function isURLActive(itemURL) {
    return request.originalUrl === itemURL;
}
%>

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="admin" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="/assets/img/logo/png/logo.png" alt="Brand Logo" class="img-fluid logo-100" />
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2"></span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <% menuItems.forEach(item => { %>
    <% if (item.allowedRoles.includes(currentUser.role)) { %>
    <li class="menu-item <%= isURLActive(item.url) ? 'active' : '' %> <%= !isEmpty(item.subItems) && item.subItems?.some(sub => isURLActive(sub.url)) ? 'active open' : '' %>">
      <a href="<%= item.url %>" class="menu-link <%= item.subItems ? 'menu-toggle' : '' %>">
        <i class="menu-icon tf-icons <%= item.icon %>"></i>
        <div><%= item.title %></div>
      </a>
      <% if (item.subItems && item.subItems.length > 0) { %>
      <ul class="menu-sub">
        <% item.subItems.forEach(subItem => { %>
        <% if (subItem.allowedRoles.includes(currentUser.role)) { %>
        <li class="menu-item <%= isURLActive(subItem.url) ? 'active' : '' %>">
          <a href="<%= subItem.url %>" class="menu-link">
            <div><%= subItem.title %></div>
          </a>
        </li>
        <% } %>
        <% }); %>
      </ul>
      <% } %>
    </li>
    <% } %>
    <% }); %>
  </ul>
</aside>